@model DeliveryOrderItem

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/form.css" />

<main class="flex-fill d-flex justify-content-center align-items-center">
    <div class="login-container col-11 col-sm-10 col-md-6 col-lg-4">
        <h1 class="text-center">Delivery Order Item Details</h1>
        <hr />

        <dl class="row mx-2">
            <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Quantity)</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.Quantity)</dd>

            <dt class="col-sm-5">@Html.DisplayNameFor(model => model.DeliveryOrder)</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.DeliveryOrder.DeliveryTiming)</dd>

            <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Item)</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.Item.Description)</dd>
        </dl>

        <div class="text-center mt-3">
            <a asp-action="Edit" asp-route-id="@Model?.DeliveryOrderItemId" class="btn btn-primary me-2">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</main>
