@model DeliveryOrder

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/form.css" />

<main class="flex-fill d-flex justify-content-center align-items-center">
    <div class="login-container col-11 col-sm-10 col-md-6 col-lg-5">
        <h1 class="text-center">Delivery Order Details</h1>
        <hr />

        <dl class="row mx-2">
            <dt class="col-sm-5">@Html.DisplayNameFor(model => model.OrderNumber)</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.OrderNumber)</dd>

            <dt class="col-sm-5">@Html.DisplayNameFor(model => model.OrderDate)</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.OrderDate)</dd>

            <dt class="col-sm-5">@Html.DisplayNameFor(model => model.DeliveryDate)</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.DeliveryDate)</dd>

            <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Status)</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.Status)</dd>

            <dt class="col-sm-5">@Html.DisplayNameFor(model => model.DeliveryTiming)</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.DeliveryTiming)</dd>

            <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Customer)</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.Customer.Name)</dd>
        </dl>

        <div class="text-center mt-3">
            <a asp-action="Edit" asp-route-id="@Model?.DeliveryOrderId" class="btn btn-primary me-2">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</main>
